
PORT=3000

DB_HOST=mongo
DB_PORT=27017
DB_USER=root
DB_PASSWORD=password

REDIS_HOST=redis
REDIS_PORT=6379

DB_PG_HOST=postgres
DB_PG_PORT=5432
POSTGRES_DB=my-app
DB_PG_USER=root
DB_PG_PASSWORD=password